<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='menu.grados')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<div class="row mt-3 justify-content-end">
            	<a class="text-center col-2 btn btn-primary" th:href="@{/grados/add}" th:text="#{menu.addgrados}"></a>
            </div>	
			<h1 class="text-center mt-3" th:text="#{menu.grados}"></h1>
			<div class="col-8">
				<table class="table table-stripped table-hover"  th:if="${grados.size()>0}">
					<thead class="table-light">
					<tr>
						<th>ID</th>
						<th th:text="#{name}"></th>
						<th></th>
						<th></th>
					</tr>
					</thead>					
					<tbody>
					 <tr th:each="g : ${grados}">
					 	<td th:text="${g.getId()}"></td>
					 	<td th:text="${g.getNombre()}"></td>
					 	<td><a th:href="@{'/grados/edit?grado='+${g.getId()}}"><i class="bi bi-pen-fill"></i></a></td>
					 	<td><a th:href="@{'/grados/asignaturas?codigo='+${g.getId()}}"><i class="bi bi-eye-fill"></i></i></a></td>
					 </tr>					
					</tbody>
				</table>
			</div>
				<div th:if="${grados.size()==0}" class="alert alert-warning mt-5" role="alert">
                      <h6 class="text-danger text-center" th:text="#{'noGrado'}"></h6>
                </div>
			<footer th:replace="fragments/parts::footer(info='menu.grados')"></footer>
		</div>
	</div>
</body>
</html>